@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s80-pastel-ploy-01a_1.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=97b469027f1667a4279b223e931c0047);
    background-repeat: no-repeat;
    background-size: cover;
}

/* css for cntainer */
.contanier {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: space-between;

}

.divForHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}


#image {
    width: 100px;
}

.box {
    border: 1px solid white;
    height: 100vh;
    margin: 10px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* padding-top: 10%; */

}

.buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.learnMore {
    /* width: 30vw; */
    /* margin: 20px; */
}

.studentImage {
    margin-top: 90px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.studentImage>img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 2px;
}

.learnMore {
    width: 50vw;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#moreButton {
    border: none;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid lightblue;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-left: 30px;
}

#moreButton:hover {
    background-color: paleturquoise;
}

/* CSS FOR FORM */
.form {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/240/386/472/pastel-purple-blur-gradation-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 10px;
    padding-bottom: 70px;
    margin: auto;
    margin-top: 30px;
    width: 36vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.form>h2 {
    font-weight: 100;
    letter-spacing: 2px;
    cursor: pointer;
}

.commonDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 5vh;
    position: relative;
    cursor: pointer;
}

#email,
#password,
#Cp,
#Contact,
#Dob,
#name {
    padding: 10px;
    width: 60%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid lightblue;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;

}

#login {
    background-color: transparent;
    padding: 10px;
    width: 20vw;
    border: 2px solid lightblue;
    outline: none;
    font-size: 17px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}


.profilePicture {
    border: 2px solid lightblue;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 19vw;
    height: 19%;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

#profile {
    display: none;
}

#picture {
    background-color: black;
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 100%;
    margin: 2px;
}

#showImage {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#uploadedImage {
    border: 1px solid black;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    object-fit: cover;
}

/* CSS FOR TOAST BOX */
.toast {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

#toastBox {
    width: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.toast>img {
    width: 20px;
}

.Success {
    text-align: start;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid green;
    border-radius: 10px;
    padding: 20px;

}

.Success>img {
    width: 40px;
}

.Error {
    background-color: red;
    padding: 10px;
    margin: 10px;
    text-align: start;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: width 2s;
}

.Invalid {
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

/* CSS FOR SIDE BAR */
.sideBar {
    background-color: white;
    width: 25%;
    height: 96vh;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    display: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    /* gap: 50px; */

}

#forData {
    width: 25vw;
    color: black;
    padding: 30px;
    font-size: 10px;
    letter-spacing: 2px;
}

#forData>img {
    margin-left: 20%;
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 100%;
    padding: 30px;
}


#close {
    border: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* CSS FOR SHOW FORM DIV */
#nameDiv,
#emailDiv,
#DOBDiv {
    font-size: 20px;
    outline: none;
    border: none;
    gap: 20px;
}
#contactDiv{
    background-color: blanchedalmond;
}

#camera {
    position: absolute;
    top: 23%;
    left: 58%;
    padding: 10px;
    border-radius: 100%;
    background-color: cadetblue;
}

#camera>i {
    width: 20px;
    height: 20px;
}

#update {
    border: 2px solid cadetblue;
    padding: 9px;
    width: 20vw;
    font-size: 20px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

/* =====CSS FOR 2ND HTML PAGE=== */
.more {
    background-color: lightcyan;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}